.card {
	display: grid;
	padding: 16px;
	overflow: hidden;
	min-height: 200px;
	border-radius: 10px;
	place-items: center;
	border: 1px solid #ccc;
	background-color: #fff;
	grid-template-rows: 1fr auto;
}

.link {
	background-color: rgba(0, 0, 0, 0.6);
	transition: transform 0.3s, background-color 0.3s;
	color: #fff;
	border-radius: 8px;
	padding: 4px 8px;
}

.cardContent {
	width: 100%;
	display: grid;
	place-items: center;
}

@media (min-width: 1200px) {
	.link {
		transform: translateY(50px);
	}

	.card:hover .link {
		transform: translateY(0px);
	}

	.card:hover .link:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}
}
