.text {
	font-size: 18px;
	margin: 0;
	color: #2b3044;
}

.link {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: inherit;
	margin: 0 var(--spacing, 0px);
	transition: margin 0.25s;
	cursor: pointer;
}

.svg {
	width: 76px;
	height: 40px;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 7px) translateZ(0);
	fill: none;
	stroke: var(--stroke, #bbc1e1);
	stroke-linecap: round;
	stroke-width: 2px;
	stroke-dasharray: var(--offset, 69px) 278px;
	stroke-dashoffset: 361px;
	transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}

.svg:hover {
	--spacing: 4px;
	--stroke: #275efe;
	--stroke-delay: 0.1s;
	--offset: 180px;
}
