.buttonContainer {
	position: relative;
	width: 100px;
	height: 50px;
	overflow: hidden;
	border: 1px solid #000;
	font-weight: 300;
	transition: 0.5s;
	letter-spacing: 1px;
	border-radius: 8px;
}

.button {
	width: 101%;
	height: 100%;
	letter-spacing: 1px;
	font-weight: bold;
	background: #000;
	-webkit-mask: url(https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png);
	mask: url(https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png);
	-webkit-mask-size: 3000% 100%;
	mask-size: 3000% 100%;
	border: none;
	color: #fff;
	cursor: pointer;
	-webkit-animation: ani2 0.7s steps(29) forwards;
	animation: ani2 0.7s steps(29) forwards;
}

.button:hover {
	-webkit-animation: ani 0.7s steps(29) forwards;
	animation: ani 0.7s steps(29) forwards;
}

.mas {
	color: #000;
	text-align: center;
	width: 101%;
	position: absolute;
	margin-top: 17px;
	overflow: hidden;
	font-weight: bold;
}

@-webkit-keyframes ani {
	from {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}

	to {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}
}

@keyframes ani {
	from {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}

	to {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}
}

@-webkit-keyframes ani2 {
	from {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}

	to {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}
}

@keyframes ani2 {
	from {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}

	to {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}
}
