.containerElement {
	display: grid;
	grid-gap: 24px 16px;
	align-content: start;
	align-items: start;
	height: 100%;
	align-items: stretch;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.pageTitle {
	display: none;
}

@media (min-width: 1200px) {
	.containerElement {
		grid-gap: 16px;
		grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
	}
}
