.link {
	text-decoration: none;
	color: #18272f;
	font-weight: 700;
	position: relative;
	cursor: pointer;
	z-index: 0;
}

.link::before {
	content: "";
	background-color: hsla(196, 61%, 58%, 0.75);
	position: absolute;
	left: -2%;
	bottom: 3px;
	width: 104%;
	height: 4px;
	z-index: -1;
	transition: all 0.3s ease-in-out;
}

.link:hover::before {
	bottom: 0;
	height: 100%;
}
