.codeblock {
	display: grid;
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid deepskyblue;
}

.codeHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: deepskyblue;
	padding: 4px 8px;
	color: #fff;
}

.codebutton {
	border-radius: 6px;
	border: none;
	padding: 4px 6px;
	background-color: #fff;
	color: deepskyblue;
	transition: color 0.3s;
	cursor: pointer;
}

.codebutton:hover {
	color: rgba(0, 191, 255, 0.5);
}

.copytext {
	color: transparent;
}

.pre {
	line-height: 1.5;
	overflow: auto;
	padding: 16px;
	text-align: left;
}

@media (min-width: 768px) {
	.htmlblock {
		grid-column: 1/2;
	}
}
